.js .fadeInDown {
  transform: translate3d(0, -40px, 0);
}

.js .fadeInUp {
  transform: translate3d(0, 40px, 0);
}

.js .fadeInRight {
  transform: translate3d(40px, 0, 0);
}

.js .fadeInLeft {
  transform: translate3d(-40px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition:
    transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
    opacity 0.8s;
  will-change: transform, opacity;
}
